<div class="page-width">
  <div class="section-header text-center">
    <h1>{{ 'downloads.title' | t }}</h1>
  </div>

  <div class="grid myaccount">
    <div class="grid__item myaccount__downloads">
      <h2>{{ 'downloads.description' | t }}</h2>

      {% paginate customer.orders by 30 %}
        {% if customer.orders.size != 0 %}

        <table id = downloadtable>  
      	<table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{'downloads.product_title' | t }}</th>
 				<th scope="col">{{ 'downloads.download_link' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}" class="responsive-table__row" >
            <th scope="row" data-label="{{ 'customer.order.product' | t }}">
              {{ line_item.title | link_to: line_item.product.url }}
            </th>
			<td data-label="{{ 'downloads.download_link' | t }}">{{
            	{{ line_item.title | link_to: line_item.product.url }}
              	{% if line_item.fulfillment %}
                    {% if line_item.variant.metafields.dda.digital or order.metafields.dda.sendowl_order_id %}(<a href="https://transactions.sendowl.com/orders/shopify_return/132581?order_id={{ order.id }}&email={{ order.email }}{% if order.metafields.dda.sendowl_order_id %}&sendowl_order_id={{ order.metafields.dda.sendowl_order_id }}{% endif %}">download here</a>){% endif %}
                  </div>
              	{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>

                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>
